<div class="contents">
  <div class="input_time">
  <%= form_for study_path do |f| %>
    <h3>
      今日の日付を入力してね！
    </h3>
    <%= f.date_select :date,class: "form-control" %>
    <h3>
      今日のプログラミング学習時間を入力してね！
    </h3>
    <%= f.text_area :time, placeholder: "小数点第一位まで可！", size: "40x5" %>
    <%= f.submit "送信" %>
  <% end %>
  </div>
  <div class="output_time">
    <p>これまでトータルで <span class="study_time"> <%= @study %> h </span> の勉強したよ！</p>
    <p>がんばったね！</p>
  </div>
</div>

